.header {
    width: 75vw;
    margin: 10px auto;
    background-color: rgb(0,168,255);
    padding: 10px;
    border-radius: 10px;
}

.header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}